<html>

  <head>
    <title>
      Page Slack
    </title>
    <meta charset='utf-8' />

    {{! <link href='css/normalize.css' rel='stylesheet' /> }}
    <link href='css/slack.css' rel='stylesheet' />
    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />

  </head>

  <body>

    <div class='page'>
      <section class='page-section'>
        <div class='page-content hero-section'>
          <div class='hero-content'>
            <div class='hero'>
              <span class='hero-label'>Slack Features</span>
              <h1 class='hero-title'>One platform for your
                team and your work</h1>
              <p class='hero-info'>All the features of Slack
                work together so you can, too.</p>
              <div class='hero-buttons'>
                <a
                  href='#'
                  class='button hero-btn-primary click'
                >Try for free</a>
                <a
                  href='#'
                  class='button hero-btn-secondary click'
                >See all features</a>
              </div>
            </div>

            <img
              src='/img/hero.png'
              alt=''
              class='hero-img'
            />
          </div>

          <div class='brands'>
            <img
              src='/img/brands/airbnb.png'
              alt='airbnb'
              class='brands-image'
            />
            <img
              src='/img/brands/intuit.png'
              alt='intuit'
              class='brands-image'
            />
            <img
              src='/img/brands/newscorp.png'
              alt='newscorp'
              class='brands-image'
            />
            <img
              src='/img/brands/onemedical.png'
              alt='onemedical'
              class='brands-image'
            />
            <img
              src='/img/brands/sonos.png'
              alt='sonos'
              class='brands-image'
            />
            <img
              src='/img/brands/target.png'
              alt='target'
              class='brands-image'
            />
            <img
              src='/img/brands/uber.png'
              alt='uber'
              class='brands-image'
            />
            <img
              src='/img/brands/va.png'
              alt='va'
              class='brands-image'
            />
          </div>

        </div>

      </section>

      <section class='page-section page-section-light'>
        <div class='page-content features-section'>

          <div class='features-title'>
            Work more easily with everyone

          </div>
          <div class='features-desc'>
            Stay on the same page and make decisions faster
            by bringing all of your work communication into
            one place.

          </div>

          <div class='feat-grid-4'>
            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/feature/connect.svg')"
              ></span>
              <strong class='card-title'>Slack connection</strong>
              <p class='card-desc'>Collaborate with teams at
                other companies the same way you do with
                teams at your own.</p>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>

            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/feature/Channels.svg')"
              ></span>
              <strong class='card-title'>Channels</strong>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/feature/Huddles.svg')"
              ></span>
              <strong class='card-title'>Huddles</strong>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/feature/Clips.svg')"
              ></span>
              <strong class='card-title'>Clips</strong>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/feature/Canvas.svg')"
              ></span>
              <strong class='card-title'>Canvas</strong>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/feature/Messaging.svg')"
              ></span>
              <strong class='card-title'>Messaging</strong>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>
            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/feature/Accessibility.svg')"
              ></span>
              <strong
                class='card-title'
              >Accessibility</strong>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>
          </div>
        </div>
      </section>

      <section class='page-section page-section-light'>
        <div class='page-content desc'>
          <h2 class='desc-title'>What you need, when you
            need it</h2>
          <p class='desc-info'>Spend less time shuffling
            tabs with a comprehensive message archive and
            all your work tools at your fingertips.</p>

          <div class='desc-grid-4'>
            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/desc/apps.svg')"
              ></span>
              <strong class='card-title'>Apps and
                Integrations</strong>
              <p class='card-info'>Streamline work by
                connecting Slack with other services like
                Google Drive, Office 365 and over 2,200
                more.</p>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>

            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/desc/work.svg')"
              ></span>
              <strong class='card-title'>Workflow Builder</strong>
              <p class='card-info'>Automate routine actions
                and communication, so you can get back to
                the kind of work only humans can do.</p>
              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>

            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/desc/search.svg')"
              ></span>
              <strong class='card-title'>Search</strong>

              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>

            <div class='card'>
              <span
                class='icon'
                style="background-image: url('/svg/desc/file.svg')"
              ></span>
              <strong class='card-title'>File sharing</strong>

              <a
                href='#'
                class='icon icon-arrow click feat-link'
              ></a>
            </div>

          </div>
        </div>
      </section>

      <section class='page-section'>
        <div class='page-content run'>
          <img
            src='/img/run.png'
            alt='run'
            class='run-img'
          />
          <div class='run-desc'>
            <p class='run-info'>“The thing that keeps us
              connected the most is Slack. It’s a very
              immediate and straightforward method of
              communication, and really the only channel
              that people prefer and enjoy using.”</p>
            <img
              src='/img/deliv.png'
              alt='delivero'
              class='run-info-img'
            />
            <span class='run-autor'>Will Sprunt, CIO,
              Deliveroo</span>
          </div>
        </div>
      </section>
      <section class='page-section'>
        <div class='page-content explore'>
          <h2 class='explore-title'>Explore more about
            working in Slack</h2>
          <div class='explore-info'>
            <div class='explore-card'>
              <img
                src='/img/101.png'
                alt='101'
                class='explore-card-img'
              />
              <span class='explore-card-name'>Slack
                Tutorials</span>
              <p class='explore-card-info'>Slack 101</p>
              <a
                href='#'
                class='explore-card-link click'
              >Learn more</a>
            </div>
            <div class='explore-card'>
              <img
                src='/img/media.png'
                alt='101'
                class='explore-card-img'
              />
              <span class='explore-card-name'>Slack vs.
                Email</span>
              <p class='explore-card-info'>An easier, more
                organized way to work</p>
              <a
                href='#'
                class='explore-card-link click'
              >Learn more</a>
            </div>
            <div class='explore-card'>
              <img
                src='/img/media2.png'
                alt='101'
                class='explore-card-img'
              />
              <span class='explore-card-name'>Customer
                Stories</span>
              <p class='explore-card-info'>How Fastly uses
                Slack Connect to wow enterprise customers</p>
              <a
                href='#'
                class='explore-card-link click'
              >Learn more</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>