<div class='page'>
  <div class='page-content'>
    <div class="page-block">
        <header class='header row g-0'>
        <div class='header-logo col-3'>
            <span class='badge text-bg-primary'>
            P
            </span>
        </div>
        <div class='header-nav col-9'>
            <div class="header-nav-right">
                {{> nav list=header}}        
            </div>
        </div>
        {{> divider}}
        </header>
    </div>

    <footer>
        test
    </footer>

  </div>
</div>