<div class='article-item'>
  {{#if isNew}}
    <div class='article-badge'>NEW!!!</div>
  {{/if}}
  <img src='{{photo}}' alt='{{name}}' class='article-img' />
  <div class='article-name'>{{name}}</div>
  <p class='article-desc'>{{description}}</p>
  <a href='#' class='article-button'>Read All</a>
</div>