{{#with data}}
<div class='post'>
    <strong class='post-title'>{{title}}</strong>
    <div class='post-info'>{{date}}
        <span class='post-autor'> by{{author}}</span>
    </div>
    <p class='post-text'>{{description}}</p>
    <a href='*'>Continue reading</a>
</div>
{{/with}}